<h1 class="title">{{ title }}</h1>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam minus
  consequuntur eveniet consequatur et sequi atque mollitia quidem voluptates
  expedita repudiandae consectetur voluptatibus, optio doloribus at quod,
  aliquam, modi ex blanditiis natus aspernatur eius. Incidunt nam veniam aut
  iusto blanditiis voluptate, rerum facilis! Soluta esse, cum qui consectetur
  omnis commodi fuga corrupti facilis veritatis nesciunt, minima doloribus quis.
  Voluptate incidunt culpa id quidem fuga quam. Numquam atque qui perferendis
  quam maiores. Quae et sunt laboriosam itaque, provident deleniti ipsum, sit,
  quas libero adipisci impedit ipsam sed explicabo exercitationem harum natus
  aut earum suscipit molestias optio mollitia repudiandae! Autem, omnis
  delectus.
</p>
<div>
  <input type="text" placeholder="enter key" [(ngModel)]="keyname"/>
  <input type="text" placeholder="input value"  [(ngModel)]="data"/><button (click)="onsave()">save</button><button (click)="onget()">get</button>
</div>
<div>
  <hr>
  <input type="text" placeholder="enter key" [(ngModel)]="message"/> <button (click)="send()">send</button>
</div>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate magni
  dolorem vitae ipsum officiis minima, necessitatibus tenetur doloremque atque,
  totam consequuntur ipsa. Veniam voluptate, ab laudantium sit, perferendis,
  tempora harum aliquid libero obcaecati vero iste eius! Dolorem, cupiditate
  possimus nostrum est unde repellendus eligendi laborum ipsa quaerat,
  voluptatibus deleniti soluta sunt esse assumenda vel architecto quidem,
  corporis reiciendis et maxime exercitationem. Velit perspiciatis fugiat eius
  cumque quae eligendi provident voluptatem aliquid excepturi veritatis quas, a,
  expedita, optio sint omnis consequuntur veniam vero quo. Non aut laboriosam
  illo soluta aperiam reiciendis! Consequatur quibusdam veniam rem aliquid.
  Soluta velit quos officia, recusandae sed ad quae. Aut odit omnis aliquid
  alias reprehenderit, labore, et in quaerat voluptates cumque magnam eligendi
  iusto rerum, totam repellat consequatur voluptatem! Placeat, sint eaque
  nostrum harum incidunt praesentium consequatur perferendis qui nesciunt!
  Dolorum, sed praesentium. Nobis corporis praesentium, accusamus expedita qui
  maiores totam ratione aut voluptate libero sed veniam? Id, asperiores debitis
  beatae quod soluta perspiciatis incidunt qui sint, nostrum eius recusandae
  illo eaque? Placeat consequatur, id laboriosam, fuga beatae distinctio earum
  nesciunt, rerum quod exercitationem vero. Ad itaque tempore a nostrum iste
  incidunt neque, sapiente dolorem obcaecati? Accusantium odio maiores ullam
  omnis harum vero magnam, assumenda voluptas iure, quasi odit perspiciatis
  quas. Nemo at blanditiis, ducimus repellendus ea, quaerat earum eaque
  consequuntur vero voluptatem illum ipsum, doloribus quasi eligendi. Nobis,
  dicta facilis. Minus provident doloremque numquam placeat iure ullam odio,
  earum asperiores perspiciatis, pariatur, dolores officia veniam error
  repellendus! Minus officiis ea labore nisi sed, sunt quam, similique maiores
  aspernatur nihil nulla illum ex est perspiciatis modi magnam cumque ad nobis
  dolorum autem. Doloribus dicta molestias sed cumque quae. Sapiente, quam
  provident voluptate sit, ut labore corporis illum at alias, cumque fugit
  ratione accusantium quos atque est eligendi deleniti. Et, enim fugit. Maxime
  expedita praesentium id, dolor, porro sequi, ut quod qui cum tempore
  reiciendis cumque sed necessitatibus tempora odit. Id obcaecati reiciendis
  quasi odio culpa delectus repellendus harum magni earum. Cupiditate corporis
  dignissimos incidunt atque dolor sunt inventore beatae cum eligendi quaerat,
  doloribus deleniti itaque consectetur culpa possimus quam exercitationem!
  Minus ea soluta minima at recusandae voluptas id alias culpa neque nemo cum
  veritatis magni corporis adipisci repellat mollitia eligendi, distinctio sit
  omnis expedita a aliquid. Possimus incidunt, sequi provident quis accusamus
  reprehenderit eos maiores dolorum quam in, culpa ab deleniti, laboriosam
  officiis doloremque similique. Nihil eveniet ad vero repellendus animi vel,
  facere tenetur voluptas iste aspernatur expedita soluta cupiditate aliquid
  maxime quia ut ipsam suscipit pariatur, atque esse dolorum. Dolore cum optio
  nesciunt cumque accusantium? Nostrum error dolores ab enim quo veniam ad
  tempore vel nam. Molestias, minus impedit pariatur soluta voluptates
  repellendus. Consectetur culpa est libero. Nihil omnis architecto ullam soluta
  velit veritatis labore magnam iusto harum? Adipisci fugit assumenda minus quam
  maxime necessitatibus est laboriosam, harum accusantium perspiciatis quae
  error ab hic et exercitationem quos enim, incidunt praesentium ex. Pariatur
  velit repudiandae, beatae eius sed non reiciendis amet, voluptatibus
  voluptatem accusamus ad dolore inventore est. Dolore, ipsam ipsum! Non beatae
  eos possimus, rerum ad quam magni in nesciunt ipsa, officia quo nobis
  inventore ullam dolores alias, aspernatur voluptatibus explicabo temporibus!
  Possimus, dolores! Pariatur debitis quae quidem magnam perspiciatis natus quas
  ipsa sed, voluptate dolor a sequi consequatur repudiandae ducimus iusto? Nulla
  magnam dicta voluptate repellat modi? Praesentium dicta, rerum veniam cum,
  quam laborum officiis incidunt possimus molestias distinctio qui quasi placeat
  modi reprehenderit vero quis accusamus? Facilis sit assumenda ipsa, doloribus
  laboriosam minima. Accusantium reprehenderit molestias unde obcaecati dolor!
  Obcaecati, ipsa voluptas iure vitae id tempora laboriosam cupiditate
  temporibus natus tempore, alias nobis cum consequatur? Nam mollitia est
  reprehenderit molestias nulla iste enim tempore, ut a perferendis. Non officia
  modi nostrum velit fuga porro quaerat provident, assumenda inventore est
  doloribus voluptates expedita magni id culpa explicabo. Deleniti neque tempora
  totam quisquam blanditiis, non itaque tenetur ea dolore libero illo culpa est
  omnis adipisci provident harum modi quia temporibus perferendis pariatur rem.
  Iusto sunt commodi recusandae illo maxime reprehenderit optio itaque
  reiciendis est? Sit quidem mollitia magni dolor quibusdam. Sed neque quae
  natus at. Nesciunt soluta nobis, optio ducimus voluptatum pariatur corporis
  fugiat veniam aperiam id repudiandae temporibus assumenda? Quo voluptate,
  cupiditate, voluptates ipsa nisi rem dolorum totam vitae ut explicabo hic
  excepturi voluptatum placeat tempore fugiat aliquid fuga ex! Perferendis,
  tenetur assumenda quaerat iusto expedita ad corporis doloremque ipsam est
  dignissimos, inventore voluptatibus? In dolorem ut repudiandae magnam
  consequatur provident eius sed magni et totam laboriosam expedita sint quam,
  tempora autem, porro tempore! A voluptatem tempora quo cumque vel est dolorem,
  iste, voluptates veniam praesentium recusandae laboriosam quaerat rerum hic
  veritatis quas eligendi ipsa maiores quos molestiae exercitationem suscipit
  labore distinctio unde. Nisi deserunt tenetur architecto, porro fugiat ut
  ratione aut ullam sint earum? Cumque itaque quod facilis, ea molestiae
  assumenda deserunt rem blanditiis qui dolorum inventore! Voluptas vero a quia
  error, totam nam repellendus aut quae facilis quasi ea impedit nulla, ipsam
  dolorem sed. Molestiae pariatur sint voluptates, incidunt veritatis obcaecati
  recusandae voluptate ullam dolorem possimus soluta nisi ea corrupti harum
  quia. Quaerat, dicta cupiditate corporis sint amet quo numquam, quae nihil
  iusto esse totam delectus dolore nobis! Consequatur delectus accusantium in
  debitis adipisci impedit, earum dolorum, pariatur, quas exercitationem veniam
  ab aliquam velit odio quae? Aut saepe excepturi assumenda ut quo, minus totam
  consequatur sapiente officiis animi veniam. Illum, sunt debitis consequatur
  inventore perspiciatis quas, voluptatibus possimus incidunt quod ratione
  dolores repellat ducimus ex, asperiores exercitationem eveniet. Tempora iusto
  id repudiandae ipsam blanditiis quas, aliquam illum ipsa magnam cumque
  reiciendis magni, atque laudantium fuga, voluptatibus aspernatur eveniet qui
  debitis eaque quo aliquid dolores! Distinctio incidunt sequi esse rem pariatur
  molestiae, cum doloremque expedita odit deserunt aspernatur fugit mollitia,
  nesciunt quos fuga consequatur quam. Optio provident at totam ex quibusdam rem
  asperiores maxime et, enim placeat cupiditate commodi ratione nisi in
  perspiciatis illum ipsa! Quos, quibusdam nulla? Labore, aut. Sequi minus
  quaerat accusamus soluta unde rem adipisci consequuntur fugit quidem
  temporibus totam voluptate numquam, explicabo odit voluptatum voluptas error
  modi veritatis aliquam. Placeat a, illo aspernatur fuga cum quia aliquam ab
  fugiat?
</p>
